---
import MobileLayout from '@/layouts/app.astro';
import LoginForm from '@/components/app/form/LoginForm';
---

<MobileLayout title="CineBook - Login" withBottomNav={false}>
    <h1 class="text-2xl font-bold">CineBook</h1>
    <div class="flex flex-col justify-center flex-1 gap-6">
        <h2>Login</h2>
        <LoginForm client:load />
        <div class="text-center text-sm">
            <p class="text-muted-foreground">
                Don't have an account?{' '}
                <a
                    href="/register"
                    class="text-primary hover:underline font-medium"
                >
                    Sign up here 👋
                </a>
            </p>
        </div>
    </div>
</MobileLayout>
