---
import '@/styles/global.css';
import '@fontsource-variable/public-sans';

import BottomNav from '@/components/app/navigation/BottomNav';

interface Props {
    title: string;
    description?: string;
    header?: string;
    withBottomNav?: boolean;
}

const {
    title,
    description = 'Cinema Booking App',
    header = '',
    withBottomNav = true,
} = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"
        />
        <meta name="description" content={description} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <title>{title}</title>
    </head>
    <body class="bg-gray-100 text-foreground">
        <div class="max-w-sm mx-auto min-h-screen bg-white flex flex-col">
            {
                header && (
                    <div class="sticky top-0 z-50 bg-background border-b border-border flex items-center justify-between px-4 py-3">
                        <h1 class="text-xl">{header}</h1>
                    </div>
                )
            }

            <main class="px-4 py-6 flex-1 flex flex-col">
                <slot />
            </main>

            {withBottomNav && <BottomNav client:load />}
        </div>
    </body>
</html>
